
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    
}

.active {
    display: block;
}

img {
    width: 800px;
    height: 800px;
    object-fit: cover;
}